@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --color-green: #50fa7b;
    --color-rocket: rgb(154, 82, 236);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #282A36;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border: 5px solid white;
    border-radius: 50%;
    margin-bottom: 32px;
}

#wrapper h1 {
    font-size: 35px;
    line-height: 45px;
}

#wrapper p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
}

#wrapper h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
}

#wrapper ul {
    margin: 0 auto 25px;
    list-style-type: none;
}

#wrapper ul li {
    font-size: 16px;
    line-height: 26px;
}

#links-footer a{
    border-bottom: 2px solid var(--color-green);
}